body
{
    background: rgb(0,4,179);
background: linear-gradient(90deg, rgba(0,4,179,1) 6%, rgba(205,0,0,1) 44%, rgba(111,213,0,1) 91%);
}

p
{
    text-align: center;
}
h1
{
    text-align: center;
}